# Relatório de Análise II

## Tipos de Imóveis

In [2]:
import pandas as pd

In [5]:
dados = pd.read_csv("static/aluguel.csv", sep=";")
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [6]:
dados["Tipo"]

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
5                    Apartamento
6                    Apartamento
7             Casa de Condomínio
8             Casa de Condomínio
9        Conjunto Comercial/Sala
10                   Apartamento
11                   Apartamento
12                   Apartamento
13                   Apartamento
14                     Quitinete
15                   Apartamento
16                Prédio Inteiro
17                          Flat
18            Casa de Condomínio
19                   Apartamento
20                   Apartamento
21                   Apartamento
22            Casa de Condomínio
23                   Apartamento
24                   Apartamento
25                          Flat
26       Conjunto Comercial/Sala
27                   Apartamento
28                   Apartamento
29                    Loja/Salão
                  ...
32930                Apartamento
32931                       Casa
32932                Apartamento
32933                Apartamento
32934                Apartamento
32935                Apartamento
32936                Apartamento
32937    Conjunto Comercial/Sala
32938                Apartamento
32939    Conjunto Comercial/Sala
32940                Apartamento
32941                Apartamento
32942    Conjunto Comercial/Sala
32943                Apartamento
32944                Apartamento
32945                  Quitinete
32946    Conjunto Comercial/Sala
32947                Apartamento
32948    Conjunto Comercial/Sala
32949                Apartamento
32950                Apartamento
32951                Apartamento
32952         Casa de Condomínio
32953                Apartamento
32954                Box/Garagem
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [10]:
tipo_de_imovel = dados["Tipo"]

In [11]:
type(tipo_de_imovel)

pandas.core.series.Series

In [13]:
tipo_de_imovel.drop_duplicates()

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [14]:
tipo_de_imovel.drop_duplicates(inplace=True)

In [15]:
tipo_de_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object