In [97]:
import pandas as pd

# Series

In [98]:
data = [1,2,3,4,5]

In [99]:
s = pd.Series(data)

In [100]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [101]:
index = ["linha" + str(i) for i in range(5)]

In [102]:
index

['linha0', 'linha1', 'linha2', 'linha3', 'linha4']

In [103]:
s = pd.Series(data=data,index=index)

In [104]:
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [105]:
data = {"linha" + str(i) : i+1for i in range(5)}

In [106]:
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [107]:
s=pd.Series(data)

In [108]:
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [109]:
s1 = s+2

In [110]:
s1

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [111]:
s2 = s+s1

In [112]:
s2

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

In [113]:
data = [[1,2,3],[4,5,6],[7,8,9]]

In [114]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [115]:
df1 = pd.DataFrame(data=data)

In [116]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [117]:
index = ["linha" + str(i) for i in range(3)]

In [118]:
index

['linha0', 'linha1', 'linha2']

In [119]:
df1 = pd.DataFrame(data=data,index=index)

In [120]:
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [121]:
columns = ["coluna" + str(i) for i in range(3)]

In [122]:
df1 = pd.DataFrame(data=data,index=index,columns=columns)

In [123]:
df1

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [124]:
# dicionario
data = {'coluna0': {'linha0': 1, 'linha1': 4, 'linha2': 7},
        'coluna1': {'linha0': 2, 'linha1': 5, 'linha2': 8},
        'coluna2': {'linha0': 3, 'linha1': 6, 'linha2': 9}}

In [125]:
df2 = pd.DataFrame(data)

In [126]:
df2

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [127]:
# tuplas
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]

In [128]:
df3 = pd.DataFrame(data=data,index=index,columns=columns)

In [129]:
df3

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [130]:
df1[df1 > 0] = 'A'

In [131]:
df1

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A

In [132]:
df2[df2 > 0] = 'B'
df2

       coluna0 coluna1 coluna2
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B

In [133]:
df3[df3 > 0] = 'C'

In [134]:
df4 = pd.concat([df1,df2,df3])

In [135]:
df4

       coluna0 coluna1 coluna2
linha0       A       A       A
linha1       A       A       A
linha2       A       A       A
linha0       B       B       B
linha1       B       B       B
linha2       B       B       B
linha0       C       C       C
linha1       C       C       C
linha2       C       C       C

In [136]:
df4 = pd.concat([df1,df2,df3],axis=1)

In [137]:
df4

       coluna0 coluna1 coluna2 coluna0 coluna1 coluna2 coluna0 coluna1 coluna2
linha0       A       A       A       B       B       B       C       C       C
linha1       A       A       A       B       B       B       C       C       C
linha2       A       A       A       B       B       B       C       C       C

In [138]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
df3 = pd.concat([df1, df2])

D:\Anaconda3\envs\aluraenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [139]:
df3

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [140]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [141]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [142]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4