## Criando Faixas de Valor

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("dados/aluguel.csv", sep=";")

In [3]:
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [4]:
# 1 e 2 quartos
# 3 e 4 quartos
# 5 e 6 quartos
# 7 ou mais
classes = [0,2,4,6,100]

In [5]:
quartos = pd.cut(dados["Quartos"],classes)

In [6]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
5        (0.0, 2.0]
6        (2.0, 4.0]
7        (0.0, 2.0]
8        (0.0, 2.0]
9        (2.0, 4.0]
10       (0.0, 2.0]
11       (2.0, 4.0]
12       (0.0, 2.0]
13       (2.0, 4.0]
14       (0.0, 2.0]
15       (2.0, 4.0]
16       (2.0, 4.0]
17       (2.0, 4.0]
18       (2.0, 4.0]
19       (2.0, 4.0]
20       (2.0, 4.0]
21       (2.0, 4.0]
22       (0.0, 2.0]
23       (2.0, 4.0]
24       (2.0, 4.0]
25       (0.0, 2.0]
26       (2.0, 4.0]
27       (0.0, 2.0]
28       (0.0, 2.0]
29       (0.0, 2.0]
            ...
19801           NaN
19802    (0.0, 2.0]
19803    (0.0, 2.0]
19804    (0.0, 2.0]
19805    (0.0, 2.0]
19806    (0.0, 2.0]
19807    (0.0, 2.0]
19808    (0.0, 2.0]
19809    (0.0, 2.0]
19810    (0.0, 2.0]
19811    (0.0, 2.0]
19812           NaN
19813    (0.0, 2.0]
19814    (0.0, 2.0]
19815    (0.0, 2.0]
19816    (0.0, 2.0]
19817    (0.0, 2.0]
19818    (0.0, 2.0]
19819    (0.0, 2.0]
19820    (0.0, 2.0]
19821    (0.0, 2.0]
19822    (0.0, 2.0]
19823    (0.0, 2.0]
19824    (0.0, 2.0]
19825    (0.0, 2.0]
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [7]:
pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [8]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']

In [9]:
quartos = pd.cut(dados["Quartos"],classes,labels = labels)

In [10]:
quartos

0        1 e 2 quartos
1        1 e 2 quartos
2        1 e 2 quartos
3        1 e 2 quartos
4        3 e 4 quartos
5        1 e 2 quartos
6        3 e 4 quartos
7        1 e 2 quartos
8        1 e 2 quartos
9        3 e 4 quartos
10       1 e 2 quartos
11       3 e 4 quartos
12       1 e 2 quartos
13       3 e 4 quartos
14       1 e 2 quartos
15       3 e 4 quartos
16       3 e 4 quartos
17       3 e 4 quartos
18       3 e 4 quartos
19       3 e 4 quartos
20       3 e 4 quartos
21       3 e 4 quartos
22       1 e 2 quartos
23       3 e 4 quartos
24       3 e 4 quartos
25       1 e 2 quartos
26       3 e 4 quartos
27       1 e 2 quartos
28       1 e 2 quartos
29       1 e 2 quartos
             ...
19801              NaN
19802    1 e 2 quartos
19803    1 e 2 quartos
19804    1 e 2 quartos
19805    1 e 2 quartos
19806    1 e 2 quartos
19807    1 e 2 quartos
19808    1 e 2 quartos
19809    1 e 2 quartos
19810    1 e 2 quartos
19811    1 e 2 quartos
19812              NaN
19813    1 e 2 quartos
19814    1 e 2 quartos
19815    1 e 2 quartos
19816    1 e 2 quartos
19817    1 e 2 quartos
19818    1 e 2 quartos
19819    1 e 2 quartos
19820    1 e 2 quartos
19821    1 e 2 quartos
19822    1 e 2 quartos
19823    1 e 2 quartos
19824    1 e 2 quartos
19825    1 e 2 quartos
19826    1 e 2 quartos
19827    1 e 2 quartos
19828    1 e 2 quartos
19829    1 e 2 quartos
19830              NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, object): [1 e 2 quartos < 3 e 4 quartos < 5 e 6 quartos < 7 ou mais quartos]

In [11]:
pd.value_counts(quartos)

1 e 2 quartos        11074
3 e 4 quartos         8094
5 e 6 quartos          470
7 ou mais quartos       36
Name: Quartos, dtype: int64